* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;

}

/* --------build navbar in navbar.js---- */
a:link {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* color: black; */
}

.menu>li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

/* .menu a:link {
  color: #fff;
} */

.navbar-Links {
  color: darkcyan;
}

.logo {
  font-size: 32px;
  /* color: antiquewhite; */
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: whitesmoke;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* checkbo hack */
input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.hamburger:hover {
  cursor: pointer;
}

/* --------build navbar in navbar.js---- */

/* ----------jose.js------------------ */
.jose-container {
  background-color: darkcyan;
  padding: 20%;
}

.jose-container>h2 {
  /* color: whitesmoe; */
  text-align: center;
  color: wheat;
}

.jose-container>h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-weight:normal; */
  font-size: 2vw;
  color: antiquewhite;
}

.jose-container > img {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jose-container>p {
  text-align: center;
  font-size: 2vw;
  color: antiquewhite;
}

.jose-container>.whats-next {
  /* font-weight: bold; */
  color: wheat;
  font-size: 1vw;
}

/* ----------jose.js------------------ */
/* ----------About.js----------- */
.about-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 300px);
  background-color: darkcyan;
  width: 100%;
  height: 100%;
}
.about-container > div {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: white;
}
.about-container > div > h1 {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  text-align: center;
  color:antiquewhite;
}
.about-container > div > main > p {
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  text-align: center;
  color: wheat;
}
 .about-container > .list{
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
.list > ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  
}
li {
  color: wheat;
}
/* .about-container > h3 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: center;
} */
/* ----------About.js----------- */

/* ---------------project.js-------------- */
.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 200px);
  grid-gap: 1.5rem;
  margin: 5px;
  padding: 5px;
  color: cadetblue;
}
/* .project-container > div > a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
} */

.project-container>.project-a > a >img {
  /* background-color: gainsboro; */
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.project-container>.project-a:hover {
  cursor: pointer;
  opacity: 0.1;
}
/* .project-container > .project-a > .project-a-dofo{
  color: gainsboro;
}
.project-container > .project-a > .project-a-dofo:hover{
  color: rgb(222, 165, 165);
} */

.project-container > .project-b > a > img{
  /* background-color: gainsboro; */
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.project-container>.project-b:hover {
  cursor: pointer;
  opacity: 0.1;
}
/* .project-container > .project-b > .project-b-shoe{
  color: gainsboro;
}
.project-container > .project-b > .project-b-shoe:hover{
  color: rgb(226, 144, 144);
} */

.project-container>.project-c > a > img{
  /* background-color: gainsboro; */
  width: 100%;
  height: 100%;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.project-container>.project-c:hover {
  cursor: pointer;
  opacity: 0.1;
}
/* .project-container > .project-c > .project-c-ugly{
  color: gainsboro;
}
.project-container > .project-c > .project-c-ugly:hover{
  color: rgb(192, 109, 109);
} */

.project-container>.project-d > a > img{
  /* background-color: grey; */
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.project-container>.project-d:hover {
  cursor: pointer;
  opacity: 0.1;
}
/* .project-container > .project-d > .project-d-rock{
  color: grey;
}
.project-container > .project-d > .project-d-rock:hover{
  color: rgb(153, 186, 206);
} */

.project-container>.project-e > a > img{
  /* background-color: grey; */
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.project-container>.project-e:hover {
  cursor: pointer;
  opacity: 0.1;
}
/* .project-container > .project-e > .project-e-rolling{
  color: grey;
}
.project-container > .project-e > .project-e-rolling:hover{
  color: rgb(108, 161, 196);
} */

.project-container>.project-f > a > img{
  /* background-color: grey; */
  width: 100%;
  height: 100%;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.project-container>.project-f:hover {
  cursor: pointer;
  opacity: 0.1;
}
/* .project-container > .project-f > .project-f-meme{
  color: grey;
}
.project-container > .project-f > .project-f-meme:hover{
  color: rgb(86, 126, 157);
} */

.project-container>.project-g > a > img{
  /* background-color: black; */
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.project-container>.project-g:hover {
  cursor: pointer;
  opacity: 0.1;
}
/* .project-container > .project-g > .project-g-escape{
  color: black;
}
.project-container > .project-g > .project-g-escape:hover{
  color:rgb(194, 224, 172);
} */

.project-container>.project-h > a > img{
  /* background-color: black; */
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
 .project-container>.project-h:hover {
  cursor: pointer;
  opacity: 0.1;
}
/* .project-container > .project-h > .project-h-colossal{
  color: black;
}
.project-container > .project-h > .project-h-colossal:hover{
  color:rgb(159, 188, 124);
}  */

.project-container>.project-i > a > img{
  /* background-color: black; */
  width: 100%;
  height: 100%;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
 .project-container>.project-i:hover {
  cursor: pointer;
  opacity: 0.1;
}
/* .project-container > .project-i > .project-i-fizz{
  color: black;
}
.project-container > .project-i > .project-i-fizz:hover{
  color:wheat;
} */ 

/* ---------------project.js-------------- */

/* --------------------contact.js----------- */
.contact-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(8, 70px);
  grid-gap: 0.6rem;
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: darkcyan;
}
.contact-container > div > a >img {
  width: 60%;
height: 80%;
border-radius: 1px;
}
.contact-a {
  grid-column: 7 / 8;
  grid-row: 3 / 4;
}
.contact-b{
  grid-column: 7 / 8;
  grid-row: 4 / 5;

}
.contact-container > .h-tags{
 color: antiquewhite;
 grid-column: 6 / 9;
 grid-row: 5 / 6; 
 font-size: 66%;
}
.h-tags h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}
.h-tags h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}
/* --------------------contact.js-----------  */

/* ----------footer----------- */

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  /* background-color: rgb(38, 78, 81); */

}

.footer-bottom {
  background: white;
  width: 100%;
  padding: 5px;
  padding-bottom: 1px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 2vw;
  word-spacing: 2px;
  text-transform: capitalize;
  color: darkcyan;
}

.footer-bottom>p>a {
  color: darkcyan;
}

/* ------------footer.js---------------- */
.loading-container{
display: grid;
grid-template-columns: repeat(6, 200px);
grid-template-rows: repeat(3, 200px);

}
.react-loading{
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}
/* -----------media queary--------------- */
@media (max-width: 600px) {
  * {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;

  }

  /* -------------navbar----- */
  .menu {
    display: none;
    position: absolute;
    background-color: black;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;

  }

  .menu li:hover {
    display: inline-block;
    background-color: darkcyan;
    transition: 0.3s ease;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .navbar-Links {
    color: darkcyan;
  }

  .navbar-Links:hover {
    background-color: darkcyan;
    color: whitesmoke;
  }

  /* -------------navbar----- */
/* -------------About.js------- */
.about-container{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: repeat(3, 300px);
  background-color: darkcyan;
  width: 100%;
  height: 100%;
}
.about-container > div {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: white;
}
/* -------------About.js------- */

  /* ----------project.js----------------- */
  .project-container {
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: repeat(9, 200px);
    grid-gap: 1.5rem;
    margin: 10px;
    padding: 10px;
  }

  /* .project-container>.project-a {
    background-color: gainsboro;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  } */
  /* .project-container>.project-a:hover {
    cursor: pointer;
    background-color: rgb(222, 165, 165);
    width: 100%;
    height: 100%;
    transition: background-color 120ms ease-in 10ms;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  } */

  /* .project-container>.project-b {
    background-color: gainsboro;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .project-container>.project-b:hover {
    cursor: pointer;
    background-color: rgb(226, 144, 144);
    width: 100%;
    height: 100%;
    transition: background-color 120ms, ease-in 10ms;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  } */

  /* .project-container>.project-c {
    background-color: gainsboro;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .project-container>.project-c:hover {
    cursor: pointer;
    background-color: rgb(192, 109, 109);
    width: 100%;
    height: 100%;
    transition: background-color 120ms, ease-in 10ms;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .project-container>.project-d {
    background-color: grey;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .project-container>.project-d:hover {
    cursor: pointer;
    background-color: rgb(153, 186, 206);
    width: 100%;
    height: 100%;
    transition: background-color 120ms, ease-in 10ms;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .project-container>.project-e {
    background-color: grey;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  .project-container>.project-e:hover {
    cursor: pointer;
    background-color: rgb(108, 161, 196);
    width: 100%;
    height: 100%;
    transition: background-color 120ms, ease-in 10ms;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  .project-container>.project-f {
    width: 100%;
    height: 100%;
    background-color: grey;
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
  .project-container>.project-f:hover {
    cursor: pointer;
    background-color: rgb(86, 126, 157);
    width: 100%;
    height: 100%;
    transition: background-color 120ms, ease-in 10ms;
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }

  .project-container>.project-g {
    background-color: black;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }
  .project-container>.project-g:hover {
    cursor: pointer;
    background-color: rgb(194, 224, 172);
    width: 100%;
    height: 100%;
    transition: background-color 120ms, ease-in 10ms;
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }

  .project-container>.project-h {
    background-color: black;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }
  .project-container>.project-h:hover {
    cursor: pointer;
    background-color: rgb(159, 188, 124);
    width: 100%;
    height: 100%;
    transition: background-color 120ms, ease-in 10ms;
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }

  .project-container>.project-i {
    background-color: black;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 9 / 10;
  }
  .project-container>.project-i:hover {
    cursor: pointer;
    background-color: rgb(97, 130, 82);
    width: 100%;
    height: 100%;
    transition: background-color 120ms, ease-in 10ms;
    grid-column: 1 / 2;
    grid-row: 9 / 10;
  } */

  /* ----------project.js----------------- */

  /* ----------jose.js------------------ */
  .jose-container {
    padding: 25%;
  }

  .jose-container>.full-stack-web-developer {
    font-size: 1.9vw;
  }

  .jose-container >img {
    width: 100%;
    height: 100%;
  }

  /* ----------jose.js------------------ */

  /* ----------------contact.js---------- */
  .contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: repeat(7, 50px);
    grid-gap: 0.6rem;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: black;
  }
  .contact-container > div > a >img {
    width:50%;
  height: 60%;
  /* border-radius: 30px; */
  }
  .contact-a {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }
  .contact-b{
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }
   .contact-container > .h-tags{
    color: white;
    grid-column: 3 / 6;
    grid-row: 5 / 6; 
   }
   .h-tags h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 10px;
  }
  .h-tags h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 10px;
  }
    /* ----------------contact.js---------- */

}

/* -----------media queary--------------- */